<style>
  td {
    padding: 15px;
  }
</style>

{% if result.getError() %}
    <b>Error: {{ result.getError() }}</b>
{% elseif result.getResult()|length == 0 %}
    <b>No activities found</b>
{% else %}
    <table>
      <thead>
        <th>Url</th>
        <th>Count</th>
        <th>Last datetime</th>
      </thead>
      <tbody>
        {% for activity in result.getResult() %}
        <tr>
        	<td>{{ activity['url'] }}</td>
          <td>{{ activity['cnt'] }}</td>
          <td>{{ activity['last_datetime'] }}</td>
        {% endfor %}
        </tr>
      </tbody>
    </table>
{% endif %}

{% if page > 1 %}
<a href="{{ path('activity.get', {page: page - 1}) }}">Prev</a>
{% endif %}
<a href="{{ path('activity.get', {page: page + 1}) }}">Next</a>
